nav {
  background: rgb(86, 175, 226);
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 4em;
  border-radius: 8px;
}
.navLink {
  font-size: 2em;
  color: white;
  text-decoration: none;
}
.navLink:hover {
  color: blue;
}
