nav {
  background: rgb(86, 175, 226);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 30px;
  height: 4em;
  border-radius: 8px;
}
.navLink {
  font-size: 2em;
  color: white;
  text-decoration: none;
}
.navLink:hover {
  color: blue;
}
#Home {
  padding-left: 20px;
}
#NewPoll {
  position: absolute;
  top: 0;
  right: 43%;
}
#Login {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
}
