.PollContainer {
  text-align: center;
  border: 4px solid gray;
  border-radius: 10px;
  margin: 5px 400px 30px 400px;
}
.PollTitle {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: bolder;
  font-size: 2em;
}
.PollTitle a {
  color: rgb(86, 175, 226);
}
.Description {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 300;
}
.PollChoicesContainer {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 500;
}
.buttonChoicesContainer {
  padding-bottom: 10px;
}
.choicesButton {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 400;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  border-radius: 8px;
  box-shadow: 0px 5px;
  top: 0px;
  transition: all ease 0.3s;
}
.choicesButton:active {
  box-shadow: 0 1px 0;
  top: 3px;
}
