nav {
  background: rgb(86, 175, 226);
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 4em;
}
.navLink {
  font-size: 2em;
  color: white;
  text-decoration: none;
}
.navLink:hover {
  color: blue;
  text-decoration: none;
}
.navContainer {
  display: inline-block;
  width: 100vw;
}
#Home {
  padding-left: 20px;
  margin-right: 20px;
}
#NewPoll {
  position: sticky;
  top: 0;
  right: 43%;
  margin-left: 20px;
  margin-right: 20px;
}
#Login {
  position: sticky;
  top: 0;
  right: 0;
  padding-right: 20px;
  margin-left: 20px;
}
#Logout {
  position: sticky;
  top: 0;
  right: 0;
  padding-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  background: rgb(86, 175, 226);
  border: none;
}
/* media query */

@media only screen and (max-width: 650px) {
  nav {
    background-color: mediumseagreen;
    display: flex;
    justify-items: center;
  }
  .navLink {
    font-size: 20px;
  }
  #Logout {
    background: none;
  }
}
