.PollContainer {
  text-align: center;
  /* border: 1px solid gray; */
  padding: 5px 0 20px 0;
  width: 100%;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  min-width: 400px;
}
.PollContainer:active {
  color: red;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}
.PollTitle {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
}
.PollTitle a {
  color: rgb(86, 175, 226);
}

/* ---------------------------------------------- */
.Description {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 300;
}
.PollChoicesContainer {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 500;
}
.buttonChoicesContainer {
  padding-bottom: 10px;
}
.choicesButton {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 400;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  border-radius: 8px;
  box-shadow: 0px 5px;
  top: 0px;
  transition: all ease 0.3s;
}
.choicesButton:active {
  box-shadow: 0 1px 0;
  top: 3px;
}
