.ShowContainer {
  text-align: center;
  font-family: "Palanquin Dark", sans-serif;
}
.Title {
  margin-top: 10px;
  margin-bottom: 20px;
}
.User {
  margin-top: 300px;
}
.choiceButtons {
  margin-top: 50px;
}
.choices {
  margin: 0 15px 0 15px;
  padding: 0.5em 0.5em;
  background-color: #ccffcc;
  font-family: "Open Sans", sans-serif, Arial;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.choices:hover {
  background-color: #3e8e41;
}

.choices:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.Delete,
.Edit {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgb(247, 247, 247);
  border: 1px solid #999;
  border: none transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
  margin: 2px;
}
.Delete {
  background: rgb(202, 60, 60);
}
.Edit {
  background: #f1bc31;
  padding: 0.7em 1.6em;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
